NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM=runion <hello@runion.app>
WHATSAPP_PROVIDER=360dialog
WHATSAPP_API_KEY=
WHATSAPP_NAMESPACE=
NEXT_PUBLIC_DEFAULT_CITY=bcn
